/*!
 * reeset.css • v1.0.0
 * MIT License
 * github.com/dhanushp/reeset.css
 */
// Global

html,
body {
	height: 100%;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Fixes Rendering in IE
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

// Reset Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

// Links - Ability to style them from scratch

a {
	text-decoration: none;
	color: inherit;
	background-color: transparent;
}

// Reset List Styles
ul,
ol {
	list-style: none;
}

// Inputs & Buttons
button,
input,
select,
textarea {
	font: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
	cursor: pointer;
	color: inherit;
}

// Image & Video
img,
video {
	display: block;
	max-width: 100%;
}

// Tables
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

td:not([align]),
th:not([align]) {
	text-align: left;
}